.container {
  min-height: 100vh; 
}

.main { /*
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.content{
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0px 2em;
}



/* 
=================================
================================= Sección 1
=================================
*/


#section1{
  width: 100vw;
  height: 90vh;
  position: relative;
}

#section1Cover{
  object-fit: cover;
}

.imageWrapper{
  height: 100%;
  width: 100%;
  position: absolute;
}

.contentWrapper{
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.contentWrapper h1, .contentWrapper h2{
  color: white;
  text-shadow: 4px 4px 6px #0606067d;
}

/* 
=================================
================================= Sección 2
=================================
*/

#section2{
  width: 100%;
  padding: 3em 0px;
}

#section2 h1{
  color: #003B5C;
  font-size: 6em;
}

#section2Wrapper{
  display: grid;
  grid-template-areas: "sectionContainerContent sectionContainerImage";
  grid-template-columns: 1fr 1fr;
}

#sectionContainerContent{
 grid-area: sectionContainerContent;
 padding-right: 2em;
}

#sectionContainerImage{
  grid-area: sectionContainerImage;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/* 
=================================
================================= Sección 3
=================================
*/
#section3{
  width: 100%;
  display: grid;
  height: 100vh;
  background-color: #003B5C;
  padding: 3em 0px;
}

#section3 h1{
  color: #f1f1f1;
  font-size: 6em;
}
.containerSliderLegajo{
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  max-width: 90vw;
  margin: 2em 0px;
}

.sliderLegajo{
  width: 100%;
}
.sliderItemLegajo{
  height: 100%;
}
.containerInnerSlide{
  width: 100%;
}
.containerImageSlide{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em 0px;
}
.containerContentSlide{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 0px;
  text-align: center;
}

/* 
=================================
================================= Sección 4
=================================
*/
#section4{
  width: 100%;
  display: grid;
  height: 100vh;
  background-color: #52014b;
}

#section4Background{
  position: relative;
}
#section4ContentWrapper{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  padding: 3em;
}
#section4Content{
  grid-column: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section4Content p{
color: white;
}

#section4Content h2{
  margin: 0.5em 0px;
  }

/* 
=================================
================================= Sección 5
=================================
*/
#section5{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1024px;
  position: relative;
}

#conatinerImageSection5{
  width: 100%;
  height: 100%;
  position: relative;
}

#conatinerImageSection5 > div > img{
  border-radius: 100px;
  filter: brightness(0.8);
}

#innerSection5{
  height: 75%;
  width: 90%;
}

#contentSection5{
   z-index: 1;
   position: absolute;
   height: 75%;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

#contentSection5 h1{
  color: rgb(255, 255, 255)
}

#iconMultimedia{
  background-color: #003a5cc9;
  width: 150px;
  height: 150px;
  margin-left: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#iconMultimedia:hover{
  transform: scale(1.1);
  cursor: pointer;

}
#iconMultimedia > div{
  margin-left: 10px !important;
}


/* 
=================================
================================= Sección 6
=================================
*/
#section6{
  width: 100%;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #003B5C;
}

#section6inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 64px;
  position: relative;
  width: 80%;
  height: 30%;
  max-width: 1200px;
}

#section6inner::before{
  content: '';
  width: 100%;
  height: 24px;
  position: absolute;
  left: 0px;
  background-color: white;
  border-radius: 16px;
}

#section6inner > div{
  width: 200px;
  height: 200px;
  border: 16px solid white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
#section6inner > div > a > div{
  width: 100%;
  height: 100%;
}

/* 
=================================
================================= Sección 7
=================================
*/
#section7{
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}
#section7 h1{
    color: #003B5C;
    font-size: 6em;
}
.containerSliderGacetilla{
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  max-width: 80vw;
  margin: 4em 0px 0px 0px;
  color: black;
}

.sliderGacetilla{

  display: flex;
  justify-content: center;
}

.sliderItemGacetilla{
  display: flex !important;
  justify-content: center;
}


/* 
=================================
================================= Sección 8
=================================
*/
#section8{
  width: 100%;
  display: grid;
  height: 80vh;
  position: relative;
}
#section8 img{
  filter: brightness(0.5);
}

